In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('bpp_training_data.csv')
df.head(100)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear
0,1646770,9500.0,1126363,8434,132,17,1974,17,0,4593,...,0,1,8,6,0,0,1989,1,17,17
1,1821514,14000.0,1194089,10150,132,31,1980,31,0,1820,...,0,0,0,0,4,2,1989,1,31,31
2,1505138,50000.0,1473654,4139,132,31,1978,31,0,2348,...,0,1,8,6,0,0,1989,1,31,31
3,1671174,16000.0,1327630,8591,132,31,1980,31,0,1819,...,0,0,0,0,4,2,1989,1,31,31
4,1329056,22000.0,1336053,4089,132,31,1984,31,0,2119,...,0,1,6,5,0,0,1989,1,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1449641,11750.0,492948,3356,132,31,1966,31,0,82,...,0,0,0,0,0,0,1989,1,31,31
96,1328950,19000.0,1444418,4089,132,31,1983,31,0,2119,...,0,1,6,6,0,0,1989,1,31,31
97,1371695,28000.0,1444477,1571,132,31,1982,31,0,2211,...,0,1,8,6,0,0,1989,1,31,31
98,1729063,48000.0,1059447,9113,132,32,1984,32,0,4815,...,0,0,0,0,0,0,1989,2,1,32
99,1257862,25000.0,1363747,6589,132,32,1983,32,0,112,...,0,1,6,6,0,0,1989,2,1,32

In [2]:
import pandas as pd
test=pd.read_csv('bpp_test.csv')
test.head()

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear
0,2281791,891349,1634,136,78,2003,78,0,2330,706,...,0,1,7,6,0,0,2009,3,19,78
1,2192394,1726692,12924,136,78,1000,78,0,4498,1672,...,0,0,0,0,0,0,2009,3,19,78
2,2369596,1122452,15044,136,78,1994,78,0,2644,827,...,3,0,0,0,0,0,2009,3,19,78
3,2233945,92096,3858,136,78,1999,78,0,1772,535,...,0,0,0,0,4,2,2009,3,19,78
4,2433167,1696810,9580,136,78,2005,78,0,4514,1684,...,0,0,0,0,0,0,2009,3,19,78

In [3]:
train_len=len(df)
test_len=len(test)

In [4]:
a=pd.concat([df,test],axis=0)
a.reset_index(drop=True,inplace=True)
a.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear
0,1646770,9500.0,1126363,8434,132,17,1974,17,0,4593,...,0,1,8,6,0,0,1989,1,17,17
1,1821514,14000.0,1194089,10150,132,31,1980,31,0,1820,...,0,0,0,0,4,2,1989,1,31,31
2,1505138,50000.0,1473654,4139,132,31,1978,31,0,2348,...,0,1,8,6,0,0,1989,1,31,31
3,1671174,16000.0,1327630,8591,132,31,1980,31,0,1819,...,0,0,0,0,4,2,1989,1,31,31
4,1329056,22000.0,1336053,4089,132,31,1984,31,0,2119,...,0,1,6,5,0,0,1989,1,31,31

In [5]:
train=a.iloc[:train_len,:]
test_set=a.iloc[train_len:,:]

In [6]:
d=test_set.drop(['SalePrice'],axis=1)
d

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear
300000,2281791,891349,1634,136,78,2003,78,0,2330,706,...,0,1,7,6,0,0,2009,3,19,78
300001,2192394,1726692,12924,136,78,1000,78,0,4498,1672,...,0,0,0,0,0,0,2009,3,19,78
300002,2369596,1122452,15044,136,78,1994,78,0,2644,827,...,3,0,0,0,0,0,2009,3,19,78
300003,2233945,92096,3858,136,78,1999,78,0,1772,535,...,0,0,0,0,4,2,2009,3,19,78
300004,2433167,1696810,9580,136,78,2005,78,0,4514,1684,...,0,0,0,0,0,0,2009,3,19,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412693,6302984,1915521,5266,149,119,2001,119,0,2101,690,...,0,1,6,6,0,0,2012,4,28,119
412694,6324811,1919104,19330,149,119,2004,119,0,240,84,...,0,0,0,0,0,0,2012,4,28,119
412695,6313029,1918416,17244,149,119,2004,119,0,627,203,...,0,0,0,0,0,0,2012,4,28,119
412696,6266251,509560,3357,149,119,1993,119,0,83,19,...,0,0,0,0,0,0,2012,4,28,119
412697,6283635,1869284,4701,149,119,1000,119,0,989,307,...,0,0,0,0,4,2,2012,4,28,119

In [7]:
#seperating output variable
x=train.drop(['SalePrice'],axis=1)
x

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear
0,1646770,1126363,8434,132,17,1974,17,0,4593,1744,...,0,1,8,6,0,0,1989,1,17,17
1,1821514,1194089,10150,132,31,1980,31,0,1820,559,...,0,0,0,0,4,2,1989,1,31,31
2,1505138,1473654,4139,132,31,1978,31,0,2348,713,...,0,1,8,6,0,0,1989,1,31,31
3,1671174,1327630,8591,132,31,1980,31,0,1819,558,...,0,0,0,0,4,2,1989,1,31,31
4,1329056,1336053,4089,132,31,1984,31,0,2119,683,...,0,1,6,5,0,0,1989,1,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2192279,1701366,6272,136,78,1000,78,0,4215,1500,...,0,0,0,0,0,0,2009,3,19,78
299996,2192338,1787662,12919,136,78,1000,78,0,4216,1501,...,0,0,0,0,0,0,2009,3,19,78
299997,2433168,1714162,9580,136,78,2005,78,0,4514,1684,...,0,0,0,0,0,0,2009,3,19,78
299998,1586638,1386512,11398,132,78,2005,78,3,1202,354,...,0,1,6,6,0,0,2009,3,19,78
299999,2396198,1082033,2144,136,78,2005,78,3,4378,1594,...,1,0,0,0,0,0,2009,3,19,78

In [8]:
#assingning output variable
y=train.SalePrice
y

0          9500.0
1         14000.0
2         50000.0
3         16000.0
4         22000.0
           ...
299995    16500.0
299996    17000.0
299997    11500.0
299998    32000.0
299999    47500.0
Name: SalePrice, Length: 300000, dtype: float64

In [9]:
#model building
# from sklearn.linear_model import LinearRegression
# lr=LinearRegression()
# lr.fit(x_train,y_train)

In [10]:
# y_train_pred=lr.predict(x_train)
# y_test_pred=lr.predict(x_test)

In [11]:
# from sklearn.metrics import mean_squared_error,r2_score
# from math import sqrt
# lr_train_mse = sqrt(mean_squared_error(y_train, y_train_pred))
# lr_train_r2 = r2_score(y_train, y_train_pred)
# lr_test_mse = sqrt(mean_squared_error(y_test, y_test_pred))
# lr_test_r2 = r2_score(y_test, y_test_pred)

In [12]:
# print(lr_train_mse)

In [13]:
# print(lr_test_mse)

In [14]:
# print(lr_test_r2)

In [15]:
#random forest
# from sklearn.ensemble import RandomForestRegressor
# regressor=RandomForestRegressor(n_estimators=5)
# regressor.fit(x_train,y_train)

In [16]:
# y_pred=regressor.predict(x_test)
# from sklearn.metrics import r2_score
# r2_score(y_test, y_pred)

In [17]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators = 5)
regressor.fit(x,y)

RandomForestRegressor(n_estimators=5)

In [18]:
pre = regressor.predict(d)
pre

array([67300., 17800., 17100., ..., 25900., 49300., 35300.])

In [19]:
s = pd.DataFrame()
s['Saleprice'] = pre
s

        Saleprice
0         67300.0
1         17800.0
2         17100.0
3         69500.0
4         11500.0
...           ...
112693    16450.0
112694    10400.0
112695    25900.0
112696    49300.0
112697    35300.0

[112698 rows x 1 columns]

In [21]:
s.to_csv('AI_039.csv',index = False)